* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.todo-app {
  width: 100%;
  max-width: 54rem;
  background-color: #1d1d1d;
  margin: 10rem auto 2rem;
  padding: 4rem 3rem 7rem;
  border-radius: 1rem;
}

.todo-app h2 {
  color: #eeeeee;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 1rem;
  padding-left: 1rem;
  margin-bottom: 2.5rem;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem;
}

button {
  border: none;
  outline: none;
  padding: 1.6rem 5rem;
  background: #393939;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
}

ul li {
  list-style: none;
  font-size: 1.7rem;
  padding: 1.2rem 0.8rem 1.2rem 5rem;
  user-select: none;
  cursor: pointer;
  color: #fff;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid black;
  top: 1.2rem;
  left: 0.8rem;
  color: #fff;
}

ul li.chacked {
  color: #555;
  text-decoration: line-through;
}

ul li.chacked::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  top: 12px;
  left: 8px;
  background-color: #ff5945;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background-color: #e4e4e4;
}
